.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
    object-fit: contain;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .modal-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal-buttons button:first-child {
    background: #ccc;
  }
  .modal-buttons button:last-child {
    background: #4caf50;
    color: white;
  }

  .popup-button {
    position: absolute;
    color: white;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close-button {
    top: 20px;
    right: 20px;
  }
  
  .left-button {
    left: 20px;
  }
  
  .right-button {
    right: 20px;
  }
  