.onboard_wrapper{
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}
.onboard_wrapper::before,
.onboard_wrapper::after{
    position: absolute;
    content: "";
    top: 0;
    left: -700px;    
    background: rgba(251, 185, 13, 0.3);
    width: 816px;
    height: 816px;
    border-radius: 50%;
    filter: blur(200px);
}
.onboard_wrapper::after{
    left: unset;
    right: -730px;
    background: rgba(34, 235, 255, 0.3);
}

.border-class{
    border: none;
    background: transparent;
}
.board_form {
    max-width: 600px;
    margin:3rem  auto;
    background: rgba(14, 14, 14, 1);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.56);
    width: 100%;

}
ul.step_counter {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.not-allowed {
    pointer-events: auto! important;
    cursor: not-allowed! important;
}

ul.step_counter li {
    list-style: none;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
li.line {
    height: 4px;
    background: rgba(108, 111, 117, 1);
    width: 52px;
    border-radius: 35px;
}

ul.step_counter li span {
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 30px;
    border: 1px solid rgba(212, 212, 216, 1);
    flex:0 0 32px;
}
ul.step_counter p {
    margin: 0;
    color: rgba(136, 136, 136, 1);
    font-size:14px;
    text-align: left;
    font-weight: 600
}
.steps_form {
    padding: 2rem;
    background: rgba(14, 14, 14, 1);
    border-radius: 10px;
}
.preview {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.image-view {
    width: 120px;
    height: 120px;
    position: relative;
}

.image-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.image-view svg {
    position: absolute;
    z-index: 2;
    right: -8px;
    top: -9px;
    cursor: pointer;
}
ul.step_counter li.step_item.done span,li.line.done, ul.step_counter li:first-child span {
    background: linear-gradient(90deg, #FBB90D 0%, #22EBFF 100%);
}

ul.step_counter li.step_item.done p, ul.step_counter li:first-child p {
    color: rgba(251, 185, 13, 1);
}

@media(max-width:991px){
    .steps_form {
        padding: 1rem;
    }
}
@media(max-width:767px){
    ul.step_counter li.line  {
        display: none;
    }
    ul.step_counter{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between !important;
    }
    ul.step_counter li{
        display: block;
    }
    ul.step_counter p{
        width: 80px;
        text-align: center;
        font-weight: 400;
        margin-top: 10px;

    }
    ul.step_counter p{
        font-size: 11px;
    }
}