.image_auth{
    height: 100vh;
    overflow: hidden;
}
.image_auth img{
        object-fit: cover;
        object-position: top;
}
.auth-wrapper {
    height: 100vh;
    background: var(--bs-black);
}

.auth-wrapper input.form-control.cmn_input:focus {
box-shadow: unset;
}
.auth-wrapper input.form-control.cmn_input {
    background: rgba(14, 14, 14, 1);
    border: 1px solid rgba(14, 14, 14, 1);
    color: rgba(200, 200, 208, 1);
    font-size: 14px;
}
.auth-wrapper input.form-control.cmn_input::placeholder{
    color: rgba(200, 200, 208, 1);
}
label.form-label.cmn_label {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
.loginAlready{
    font-size: 14px;
}
.loginAlready a{
    font-size: 16px;
}
.auth_form {
    max-width: 466px;
    width: 100%;
    flex: 1;
    margin-right: auto;
}
.auth-wrapper{
    padding-left: 7rem;
}
.image_auth {
    position: relative;
}

.image_auth::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000004d;
    backdrop-filter: blur(8px);
    filter: blur(0px);
}
.auth-wrapper 
 .add_profile input.form-control.cmn_input {
    background: #0e0e0e;
}
.add_profile {
    height: 40px;
    border: 1px dashed  #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

input.form-control.cmn_input p {
    margin: 0;
    align-content: center;
}

.upload_profile{
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--highlight);
}
.add_profile p {
    margin: 0;
    font-size: 11px;
    color: #c8c8d0;
}
.react-international-phone-input-container {
    width: 100%;
}

input.react-international-phone-input {
    width: 100%;
    background: #0e0e0e !important;
    color: #fff !important;
    border: unset !important;
}

button.react-international-phone-country-selector-button,button.react-international-phone-country-selector-button:hover {
    background: #0e0e0e;
    border: unset;
    border-right: 1px solid #464646;
}
@media(max-width:1299px){
    .auth-wrapper {
        padding-left:0;
      
    }
    .auth_form{
        max-width: 350px;
        margin: auto;
    }
}
@media(max-width:991px){
    .auth-wrapper {
        padding:0 20px;
      
    }
    .mobile_blank{
        display: none;
    }
    .main_heading {
        font-size: 20px;
        color: var(--highlight);
    }
    .sort_desc {
        font-size: 13px;

    }
}