.cmn_btn{
    background: linear-gradient(90deg, #FBB90D 0%, #22EBFF 100%);
    border: transparent;
    font-size: 14px;
    line-height: 24px;
    height: 42px;
    padding: 0px 1rem;
    border-radius: 4px;
    color: var(--bs-black);
}
button.grey_btn.cmn_btn {
    background: rgba(255, 255, 255, 0.31);
    color: var(--bs-white);
}